<%= render '/layouts/navbar' %>
<h1>About</h1>

<p>­ - Step 1: </br></br>

Enter in your desired username and password and hit the "sign up" button!</br></br>

- Step 2: </br></br>

Submit some information about yourself so that FitPlan gets some baseline data about you!</br></br>

- Step 3: </br></br>

On your profile page, when you eat enter in what foods you eat throughout the day, and when you weigh yourself, enter in your new weight here to keep track of your progress!</br></br>

- Step 4: </br></br>

On the workout page you will see what workout we recommend for you, and you can also enter in whatever excercises you complete throughout the day so that we can keep track of your fitness progress!</br></br>

- Step 5: </br></br>

Check out your overall progress on the Progress page, where you can see pretty charts!


</p>
