<%= render '/layouts/navbar' %>

<div class="static-page-wrapper">

  <div style="text-align:center"><i><b>How it works</b></i></div>

  <hr />

  <i><u>Step 1:</u></i>

  Enter in your desired username and password and hit the "sign up" button!

  <hr />

  <i><u>Step 2:</u></i>

  Submit some information about yourself so that FitPlan gets some baseline data about you! Also, you can upload a profile picture!

  <hr />

  <i><u>Step 3:</u></i>

  On your profile page, enter in what foods you eat throughout the day. And when you weigh yourself, enter in your new weight here to keep track of your progress! Don't feel bad if you make a mistake on what you eat, you can always go back and edit your food diary for the past few days!

  <hr />

  <i><u>Step 4:</u></i>

  On the workout page you will see what workout we recommend for you, and you can also enter in whatever excercises you complete throughout the day so that we can keep track of your fitness progress!

  <hr />

</div>

</div>
