<%= render '/layouts/navbar' %>
<left>

<div class="static-page-wrapper">

  <div style="text-align:center"><i><b>Frequently Asked Questions</b></i></div>

  <hr />

  <div class="question" id="question-1" onclick="displayAnswer(1)"><i>What is FitPlan?</i></div>

  <div id="answer-1"><br>FitPlan is a personal food diary application that takes your eating habits and computes how much exercise you will need to burn off any extra calories and shave off those pounds!</div>

  <hr />

  <div class="question" id="question-2" onclick="displayAnswer(2)"><i>How does FitPlan work?</i></div>

  <div id="answer-2"><br>When you tell FitPlan what foods you eat, FitPlan will tabulate and keep track of the total number of calories you're consuming. Then based on your physical information (height and weight) and your personal weight loss goals, FitPlan will calculate how many calories in excess you're eating. Based on that number, FitPlan calculates for you exactly how much exercise you need to do in order to burn off those excess calories and stay healthy and fit!</div>

  <hr />

  <div class="question" id="question-3" onclick="displayAnswer(3)"><i>What is FitPlan for?</i></div>

  <div id="answer-3"><br>FitPlan is meant to be a tool to help you on your journey to weight loss! This is achieved in two main ways. First, by providing you with a personalized workout regime, Fitplan simplifies the process of weight loss by doing all the brain work for you! Additionally, Fitplan helps by helping make you aware of the real world impact on your body your food choices have. By being aware of what you eat and how much work you have to do to balance it out, the more likely you're going to make healthful choices!</div>

  <hr />

  <div class="question" id="question-4" onclick="displayAnswer(4)"><i>Can I lose weight just by only following FitPlan?</i></div>

  <div id="answer-4"><br>No, FitPlan is only a tool, not a cure­all. Every good fitness regime, whether it be computer generated like ours, or taken from a book, or a video, or even just invented on your lonesome, can only be successful with a healthy diet and moderation.</div>

  <hr />

  <div class="question" id="question-5" onclick="displayAnswer(5)"><i>How can I maximize my FitPlan experience?</i></div>

  <div id="answer-5"><br>In order to maximize your FitPlan experience, make sure you stay loyal to the food diary and enter in anything and everything you eat throughout the day. That way, the personalized workout plan we generate serves your needs in the best and most efficient way. Also, following the workout plans consistently will see you a major change in the right direction over time.</div>

  <hr />

  <div class="question" id="question-6" onclick="displayAnswer(6)"><i>I've been following my FitPlan faithfully for two weeks. Why am I still fat???</i></div>

  <div id="answer-6"><br>Weight loss isn't something that comes overnight. According to the CDC (Center for Disease Control), the healthiest and most successful rate of weight loss is about 1­2 pounds a week. Losing more than this in a week can be an indication of crash dieting and in many cases, leads people to yo­yoing weight (i.e. gaining it back again). A slow and steady rate of weight loss is more effective in the long term.</div>

</div>

</div>

</left>

<style>

.question:hover {
  cursor:pointer;
}

</style>

<script type="text/javascript">

$(document).ready(function() {
  for (var i=1; i<7; i++) {
    $("#answer-"+i).hide();
  }
});


function displayAnswer(answerId) {
  for (var i=1; i<7; i++) {
    if (i != answerId) {
      $("#answer-"+i).hide();
    } else {
      $("#answer-"+i).show();
    }
  }
}

</script>

