<center>
	<h1>Profile Page</h1>
	<form accept-charset="UTF-8" action="/search_food" method="post">
		Search: <input id="food" type="text" name="food"><br>
		<input id="search_food" type="submit" value="Search">
	</form>
</center>