<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= render '/layouts/navbar' %>

<h1>Progress</h1>

<div style="width:800px; margin:0 auto">
  <p style="font-weight:bold">Daily Calorie Intake</p>
  <%= line_chart @calorieIntakeChartData, discrete: true, height: '400px', name: 'Calories' %>
  <br>
  <br>
</div>