<%= render '/layouts/navbar' %>

<div class="static-page-wrapper">

  <div style="text-align:center"><i><b>Workout Tips</b></i></div>

  <hr />
  <u>Consistency is key:</u> the best way to guarentee consistent fitness progress is to workout on a consistent schedule and not skipping out unless you have to. In the world of fitness, effort and reward are directly correlated

  <hr />
  <u>Nutrition is important:</u> Having a small healthy snack before and after workouts can boost your effectiveness. Just make sure you stay small and light, lest you eat too much and cancel out the calorie burning you'd otherwise have.

  <hr />
  <u>Switch it up:</u> It's easy to get bored and fall off the wagon if all you're doing is one boring exercise every day. Switch up your routine and try different but equivalent exercises! This will keep your mind and body interested in continuing.

  <hr />
  <u>Stay hydrated:</u> Dehydration is a dangerous thing, and you risk causing permanent damage to your body if you overwork your body while not providing it with sufficient hydration. Drink when you're thirsty and you'll be fine!

  <hr />
  <u>Be prepared:</u> When you go to the gym or start your workout, come in knowing exactly what you want to do and for how long/how many reps. Having an achievable end goal will do wonders for your motivation and it will maximize your workout efficiency, since in working out, as with many other things in life, there exists a point of diminishing returns.

  <hr />
  <u>Keep at it:</u> Keep going! You got this! We believe in you! :)

</div>
