<center>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/profile_form">Edit Profile</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="active"><a href="/profile/workout">Workout Plan</a></li>
        </ul>
      </div>
    </div>
  </div>
	<div>Target intake: <%= @target %> cal</div>
	<div>Today's intake: <%= @intake %> cal</div>
	<div>Recommended: <%= @recommended %> minutes of exercise</div>
	<a href="/profile">Back to profile</a>
</center>
