<center>
	<div>Target intake: <%= @target %> cal</div>
	<div>Today's intake: <%= @intake %> cal</div>
	<div>Recommended: <%= @recommended %> minutes of exercise</div>
	<a href="/profile">Back to profile</a>
</center>