#food-listings {
  background-color: #F0FFFF;
  padding: 1%;
  width:98%;
  float:left;
}

.foodTitle {
  text-align: left;
}

.foodContainer {
}

.foodData {
  width: 97%;
  height: 35px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #505050;
}

.info {
  float: left;
  text-align: left;
}

.input {
  float: right;
  margin-right: 10px;
  text-align: right;
}


#food-button {
  color: #505050;
  background: transparent;
  border: none !important;
}


#food-button:hover {
  cursor: pointer;
}

