#food-listings {
  background-color: #F0FFFF;
  padding: 1%;
  width:98%;
  float:left;
}

.foodTitle {
  text-align: left;
}

.foodContainer {
}

.foodData {
  width: 975px;
  height: 35px;
}

.info {
  float: left;
  text-align: left;
}

.input {
  float: right;
  text-align: right;
}


#food-button {
  color: #505050;
  background: transparent;
  border: none !important;
}


#food-button:hover {
  cursor: pointer;
}

