#food-listings {
  background-color: #B4E7ED;
  padding: 10px;
  width: 1000px;
  border-radius: 40px;
}

.foodTitle {
  text-align: left;
  background-color: #F0FFFF;
  padding: 1px;
  margin: 2px;
  border-radius: 10px;
}

.foodTitle:hover {
  cursor: pointer;
  background-color: #FF7F24;
}

.foodContainer {
  margin: 2px;
  padding: 2px;
}

.foodData {
  padding: 2px;
  display: inline-block;
}

.info, .input {
  background-color: #FF7F24;
  float: left;
  width: 480px;
  height: 40px;
  padding: 5px;
  margin: 2px;
  border-radius: 20px;
}


#food-button {
    background: transparent;
    border: none !important;
}
