@import "bootstrap";

/* universal */

body {
  color: #505050;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #45C4D3;
  background-image: url('/veggies.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
/*
  background-position:center;
*/
}

div, form {
  opacity: 0.93;
}

hr {
  height: 1px;
  background-color: #dcdcdc;
}

.overall {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: white;
}

.navbar-option:hover {
  background-color: #dcdcdc;
}

.logo {
  height: 30px;
  width: 100px;
  float: left;
  margin-left: 75px;
  padding: 5px;
  opacity: 1.0;
}

.container {
  float: right;
  background-color: white;
  height: 30px;
}

/*
a {
  color: #7D26CD;
}

a:hover {
  color: #000000;
}
*/

