#input-form {
  background-color: #F0FFFF;
  position: absolute;
  top: 50px;
  left: 30px;
}

#message {
  font-style: italic;
}

#feet, #inches, #weight, #desired_weight, #age {
  width: 50px;
}

#register {
  width: 450px;
}
