.entry-field {
  float: left;
  padding: 10px;
  display:inline;
  background-color:#F0FFFF;
  margin:0 auto;
}

.day-entries {
	cursor:pointer;
	width:100%;
	text-align:center;
}

.entry-wrapper {
	width:100%;
	float:left;
}

.field-title {
	font-weight:bold;
	font-size:16px;
	border:0;
	display:inline;
	float:left;
}

.food-entry-form {
	float:left;
	padding:10px;
	display:inline;
	background-color:#F0FFFF;
    margin: 0 auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width:380px;
    height:30px;
}

.food-entry-input {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	float:left;
	height:25px;
}

.report {
	display:inline;
	margin:0px 20px;
}
