#input-form {
  background-color: #F0FFFF;
  width:40%;
  margin:0 30%;
  float:left;
  margin-bottom: 20px;
  padding-top: 10px;
}

#message {
  font-style: italic;
}

#feet, #inches, #weight, #desired_weight, #age {
  width: 50px;
}

#register {
  width: 90%;
  margin-left:5%;
}
