#today, #suggested, #desired, #current {
  background-color: #F0FFFF;
  width: 100%;
  text-align: left;
}

#reports {
  background-color: #F0FFFF;
  padding: 1%;
  width:30%;
  float:left;
}

#workout-activity, #workout-duration, #add_workout_entry {
  float: left;
  margin-left: 40px;
}

#add-workout {
  background-color: #F0FFFF;
  text-align: left;
  width: 66%;
  padding-top: 1%;
  margin:1%;
  float:left;
}

#intake, #burned, #net_intake, #target, #rec_target, #normal, #rec_normal {
  float: right;
}

#rec_activity {
  width: 300px;
}
