#today {
  background-color: #F0FFFF;
  width: 100%;
  text-align: left;
}

#suggested {
  width: 100%;
  text-align: left;
  margin-left: 35px;
  padding-top: 15px;
}

#desired {
  width: 40%;
  text-align: left;
  float: left;
  padding-left: 35px;
  padding-right: 40px;
  padding-bottom: 6px;
}

#current {
  width: 40%;
  text-align: left;
  float: left;
  padding-left: 40px;
  padding-bottom: 6px;
  border-left: thin solid #dcdcdc;
}

#reports {
  background-color: #F0FFFF;
  padding: 1%;
  width:27%;
  margin-top: 16px;
  margin-left:20px;
  float:left;
}

#recommendations {
  background-color: #F0FFFF;
  padding: 1%;
  width:60%;
  float:right;
  margin-top: 15px;
  margin-right:20px;
  padding-bottom: 32px;
}


#add-workout {
  background-color: #F0FFFF;
  text-align: left;
  padding-top: 5px;
}

#intake, #burned, #net_intake, #target, #rec_target, #normal, #rec_normal {
  float: right;
}

#rec_activity {
  width: 400px;
}

#activity, #minutes, #add-workout-entry {
  float: left;
}

#workout-tips {
  background-color: #F0FFFF;
  padding: 1%;
  width:94%;
  margin-left: 2%;
  height: 275px;
  margin-top: 300px;
  margin-bottom: 20px;
}

.tip-container {
  font-size: 12px;
  float: left;
  height: 125px;
  width: 33%;
  border: thin solid #dcdcdc;
}

