<div class="navbar">
  <div class="logo"><img src="/logo.jpg" height=80 width=80 /></div>
  <div class="container">
    <ul class="nav">
    <% if @user != nil %>
      <% options = Hash['/profile' => 'Profile',
                        '/profile/workout' => 'Workout Plan',
                        '/about' => 'About',
                        '/faq' => 'FAQ',
                        '/tips' => 'Workout Tips'] %>

      <% options.each do |key, value|
        if request.fullpath.split("?")[0] == key %>
          <li class="navbar-option" style="border-bottom: thin solid #505050"><a href=<%= key %>><%= value %></a></li>
        <% else %>
          <li class="navbar-option"><a href=<%= key %>><%= value %></a></li>
        <% end %>
      <% end %>

      <li id="signout_submit" class="navbar-option"><a href="#">Sign out</a></li>
    <% end %>
    </ul>
  </div>
</div>
