<!DOCTYPE html>
<html>
<head>
  <title>Fitplan</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
<script type="text/javascript">
$('#signout_submit').click(function() {
  send_json("/signout_submit",
    {},
    function(result) {
      alert("response");
      if (result.result == "SUCCESS") {
        window.location.href = "/";
      } else {
        alert("Things went terribly wrong.");
      }
    },
    show_error
  );
});
</script>
</html>
